
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}


.rw-carousel-widget{
  background: #191c29;
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin: 0px auto;
  align-items: flex-start;
  margin-top: 50px;
  
}


.rw-carousel-container{
  
  overflow: hidden;
  margin-top: -90px;
  

  >div{
    display: flex;
    transition : all 0.5s ease-in-out;
    >div {
      flex-shrink: 0;
      flex-basis: 100%;
      height: 100%;
      padding: 38px 20px;
      
      >span{
        display: inline-block;
        margin-bottom: 30px;
        padding: 20px;
        width: 110px;
        height: 110px;
        overflow: hidden;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0px 5px 50px 0px #6c44fc, 0px 0px 0px 5px rgb(107,74,255,0.5);
        >img{
          width: 100%;
          height: 100%;
        }
      }
  
      h2 , h3{
        color: #fff;
        line-height: 1.8;
      }
  
      h3{
        font-weight: normal;
        font-size: 14px;
      }
  
      button{
        border: 0;
        background: linear-gradient(222.31deg ,#f9b658 1.38%,#f59130 87.47%);
        border-radius: 20px;
        padding: 15px 32px 20px;
        outline: none;
        margin: 30px 0px;
        color: #0d0d17;
        font-size: 15px;
        font-weight: 700;
      }
  
    }
  }
  &:before {
    content: "";
    width: 100.65%;
    height: 100.5%;
    border-radius: 20px;
    background-image: linear-gradient(var(--rotate), #403666, #6c44fc 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -0.2%;
    left: -0.3%;
    animation: spin0 1s linear forwards;
  }

  &:after {
    position: absolute;
    content: "";
    top: calc(400px/8);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(400px / 6));
    background-image: linear-gradient(var(--rotate), #403666, #6c44fc 43%, #4e00c2);
    opacity: 1;
    animation: spin0 0.3s linear forwards;
  }

  &.m1{
    &:before , &:after {
      animation: spin1 1s linear forwards;
      //background-image: linear-gradient(120deg, #403666, #6c44fc 43%, #4e00c2);
    }
  }
  &.m2{
    &:before , &:after {
      animation: spin2 0.3s linear forwards;
      //background-image: linear-gradient(240deg, #403666, #6c44fc 43%, #4e00c2);
    }
  }
  &.m3{
    &:before , &.after {
      //background-image: linear-gradient(360deg, #403666, #6c44fc 43%, #4e00c2);
    }
  }
}


.rw-action{
  >span{
    position: absolute;
    top:40%;
    cursor: pointer;
    line-height: 0px;
    svg{
      width: 14px;
      height: 34px;
      fill: #f9b658;
      transition: all .3s;
    }

    &.rw-action-left{
      left: 10px;
    }
    &.rw-action-right{
      right: 10px;
      transform: rotate(180deg);
    }

    &.is-hidden{
      svg{
        
        fill: #311856;
      }
    }
  }
}
@keyframes spin0 {
  to {
    --rotate: 0deg;
  }
}

@keyframes spin1 {
  to {
    --rotate: 120deg;
  }
}

@keyframes spin2 {
  to {
    --rotate: 240deg;
  }
}

@media screen and (min-width:768px){
  .rw-action{
    >span{
      &.rw-action-left{
        left: -30px;
      }
      &.rw-action-right{
        right: -30px;
      }
    }
  }
}